* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #302e2b;
  display: grid;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.board {
  aspect-ratio: 1/1;
  background-color: #001700a1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.15rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  justify-self: center;
  align-self: center;
  grid-row: 1/-1;
}
@media (orientation: landscape) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .board {
    height: 100%;
    min-height: 350px;
    max-height: 630px;
    order: 1;
  }
}
@media (orientation: portrait) {
  .board {
    width: 90%;
    min-width: 350px;
    order: 2;
  }
  .heading {
    order: 1;
  }
}
.box {
  background-color: #679f37;
  display: grid;
  place-items: center;
  position: relative;
}
/* .box > .pos {
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    font-size: 0.6rem;
    font-family: sans-serif;
    font-weight: 800;
    color: #001700;
  } */
.coin {
  width: 80%;
  border-radius: 50%;
  aspect-ratio: 1;
  pointer-events: none;
}
.black > .coin {
  background: linear-gradient(135deg, #383838f0, #000000);
  /* border: 8px double #d4d4d4; */
  box-shadow: #4f792ab8 0px 0px 20px 5px;
}
.white > .coin {
  background: linear-gradient(135deg, #ffffff, #858585);
  /* border: 8px double #0f0f0f; */
  box-shadow: #4f792ab8 0px 0px 20px 5px;
}

.turning_black > .coin {
  animation: turning_black 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.turning_white > .coin {
  animation: turning_white 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.available > .coin {
  width: 30%;
  min-width: none;
  max-width: 20px;
  background: #cfcfcf88;
  box-shadow: #e9e9e9a0 inset 0px 0px 3px 2px;
  transition: none;
}

@keyframes turning_white {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: linear-gradient(135deg, #383838f0, black);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: linear-gradient(225deg, #fff, #858585);
  }
}
@keyframes turning_black {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: linear-gradient(135deg, #fff, #858585);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: linear-gradient(225deg, #383838f0, black);
  }
}
