* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  min-height: 80vh;
  width: 100%;
  background-color: rgb(38, 38, 38);
  display: grid;
  place-items: center;
}
.board {
  width: 95%;
  min-width: 350px;
  max-width: 600px;
  aspect-ratio: 1/1;
  background-color: #001700a1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.12rem;
  margin-top: 5%;
}
.box {
  background-color: #006900;
  display: grid;
  place-items: center;
  position: relative;
}
/* .box > .pos {
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    font-size: 0.6rem;
    font-family: sans-serif;
    font-weight: 800;
    color: #001700;
  } */
.coin {
  width: 75%;
  border-radius: 50%;
  aspect-ratio: 1;
  pointer-events: none;
}
.black > .coin {
  background: linear-gradient(135deg, #383838f0, black);
  /* border: 8px double #d4d4d4; */
  box-shadow: #004500de 3px 3px 20px 3px;
}
.white > .coin {
  background: linear-gradient(135deg, #fff, #858585);
  /* border: 8px double #0f0f0f; */
  box-shadow: #004500de 3px 3px 20px 3px;
}

.turning_black > .coin {
  animation: turning_black 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.turning_white > .coin {
  animation: turning_white 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.available > .coin {
  width: 20%;
  background: #cfcfcf5f;
  box-shadow: #e9e9e994 inset 0px 0px 3px 2px;
  transition: none;
}

@keyframes turning_white {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: linear-gradient(135deg, #383838f0, black);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: linear-gradient(225deg, #fff, #858585);
  }
}
@keyframes turning_black {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: linear-gradient(135deg, #fff, #858585);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: linear-gradient(225deg, #383838f0, black);
  }
}
